**/build/
**/logs/
**/.vscode/
**/*.o
.DS_Store
**/lap2D_5pt_n2000.mtx
**/timings/
**/vtune_results/
lecture_05/Aaron_Dinesh_387804.tar.gz
lecture_05/Aaron_Dinesh_387804/matrix/lap2D_5pt_n1000.mtx
lecture_05/Aaron_Dinesh_387804/matrix/lap2D_5pt_n600.mtx
project_swe/data/*
**/serial_4k_512.perf
**/*.h5
**/output_files/
**/.venv/
**/*.mp4
**/*.perf
**/*.out
**/*.err
**/*.slurm

